<odoo>
  <data>
        <!-- Vassel -->

        <record id="vessel_vessel_tree" model="ir.ui.view">
            <field name="name">vessel_vessel.tree</field>
            <field name="model">vessel.vessel</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>

                </tree>
            </field>
        </record>

        <record id="vessel_vessel_form" model="ir.ui.view">
            <field name="name">vessel_vessel.form</field>
            <field name="model">vessel.vessel</field>
            <field name="arch" type="xml">
                <form string="Vessel">
                    <sheet>
                    	<div class="oe_title">
                            <span class="o_form_label" >Vessel</span>
                            <h1>
                                <field name="name"/>
                            </h1>
                        </div>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="action_vessel_vessel" model="ir.actions.act_window">
            <field name="name">Vessel</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">vessel.vessel</field>
            <field name="view_mode">tree,form</field>
        </record>


        <!-- Scope -->

        <record id="scope_scope_tree" model="ir.ui.view">
            <field name="name">scope_scope.tree</field>
            <field name="model">scope.scope</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>

                </tree>
            </field>
        </record>

        <record id="scope_scope_form" model="ir.ui.view">
            <field name="name">scope_scope.form</field>
            <field name="model">scope.scope</field>
            <field name="arch" type="xml">
                <form string="Scope">
                    <sheet>
                        <div class="oe_title">
                            <span class="o_form_label" >Scope Name</span>
                            <h1>
                                <field name="name"/>
                            </h1>
                        </div>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="action_scope_scope" model="ir.actions.act_window">
            <field name="name">Scope</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">scope.scope</field>
            <field name="view_mode">tree,form</field>
        </record>


        <!-- Working Area -->

        <record id="working_area_tree" model="ir.ui.view">
            <field name="name">working_area.tree</field>
            <field name="model">working.area</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>

                </tree>
            </field>
        </record>

        <record id="working_area_form" model="ir.ui.view">
            <field name="name">working_area.form</field>
            <field name="model">working.area</field>
            <field name="arch" type="xml">
                <form string="Working Area">
                    <sheet>
                        <div class="oe_title">
                            <span class="o_form_label" >Working Area</span>
                            <h1>
                                <field name="name"/>
                            </h1>
                        </div>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="action_working_area" model="ir.actions.act_window">
            <field name="name">Working Area</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">working.area</field>
            <field name="view_mode">tree,form</field>
        </record>


        <!-- Technician -->

        <record id="technician_technician_tree" model="ir.ui.view">
            <field name="name">technician_technician.tree</field>
            <field name="model">technician.technician</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>

                </tree>
            </field>
        </record>

        <record id="technician_technician_form" model="ir.ui.view">
            <field name="name">technician_technician.form</field>
            <field name="model">technician.technician</field>
            <field name="arch" type="xml">
                <form string="Technician">
                    <sheet>
                        <div class="oe_title">
                            <span class="o_form_label" >Technician</span>
                            <h1>
                                <field name="name"/>
                            </h1>
                        </div>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="action_technician_technician" model="ir.actions.act_window">
            <field name="name">Technician</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">technician.technician</field>
            <field name="view_mode">tree,form</field>
        </record>


        <!-- Customer -->

        <record id="customer_customer_tree" model="ir.ui.view">
            <field name="name">customer_customer.tree</field>
            <field name="model">customer.customer</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>

                </tree>
            </field>
        </record>

        <record id="customer_customer_form" model="ir.ui.view">
            <field name="name">customer_customer.form</field>
            <field name="model">customer.customer</field>
            <field name="arch" type="xml">
                <form string="Customer">
                    <sheet>
                        <div class="oe_title">
                            <span class="o_form_label" >Customer</span>
                            <h1>
                                <field name="name"/>
                            </h1>
                        </div>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="action_customer_customer" model="ir.actions.act_window">
            <field name="name">Customer</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">customer.customer</field>
            <field name="view_mode">tree,form</field>
        </record>


        <!-- Component -->

        <record id="component_component_tree" model="ir.ui.view">
            <field name="name">component_component.tree</field>
            <field name="model">component.component</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>
                </tree>
            </field>
        </record>

        <record id="component_component_form" model="ir.ui.view">
            <field name="name">component_component.form</field>
            <field name="model">component.component</field>
            <field name="arch" type="xml">
                <form string="Component">
                    <sheet>
                        <div class="oe_title">
                            <span class="o_form_label" >Component</span>
                            <h1>
                                <field name="name"/>
                            </h1>
                        </div>

                        <!-- <group>
                            <field name="uom_id"/>
                        </group> -->
                    </sheet>
                </form>
            </field>
        </record>

        <record id="action_component_component" model="ir.actions.act_window">
            <field name="name">Component</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">component.component</field>
            <field name="view_mode">tree,form</field>
        </record>




        <!-- Location -->

        <record id="location_location_tree" model="ir.ui.view">
            <field name="name">location_location.tree</field>
            <field name="model">location.location</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>

                </tree>
            </field>
        </record>

        <record id="location_location_form" model="ir.ui.view">
            <field name="name">location_location.form</field>
            <field name="model">location.location</field>
            <field name="arch" type="xml">
                <form string="Location">
                    <sheet>
                        <div class="oe_title">
                            <span class="o_form_label" >Location</span>
                            <h1>
                                <field name="name"/>
                            </h1>
                        </div>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="action_location_location" model="ir.actions.act_window">
            <field name="name">Location</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">location.location</field>
            <field name="view_mode">tree,form</field>
        </record>


        <!-- Captain -->

        <record id="captain_captain_tree" model="ir.ui.view">
            <field name="name">captain_captain.tree</field>
            <field name="model">captain.captain</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>

                </tree>
            </field>
        </record>

        <record id="captain_captain_form" model="ir.ui.view">
            <field name="name">captain_captain.form</field>
            <field name="model">captain.captain</field>
            <field name="arch" type="xml">
                <form string="Captain">
                    <sheet>
                        <div class="oe_title">
                            <span class="o_form_label" >Captain</span>
                            <h1>
                                <field name="name"/>
                            </h1>
                        </div>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="action_captain_captain" model="ir.actions.act_window">
            <field name="name">Captain</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">captain.captain</field>
            <field name="view_mode">tree,form</field>
        </record>



        <!-- JOB CODE -->

        <record id="job_code_tree" model="ir.ui.view">
            <field name="name">job_code.tree</field>
            <field name="model">job.code</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>
                    <field name="code"/>
                    <field name="uom_id"/>
                </tree>
            </field>
        </record>

        <record id="job_code_form" model="ir.ui.view">
            <field name="name">job_code.form</field>
            <field name="model">job.code</field>
            <field name="arch" type="xml">
                <form string="Job Code">
                    <sheet>
                        <div class="oe_title">
                            <span class="o_form_label" >Job Code</span>
                            <h1>
                                <field name="name"/>
                            </h1>
                        </div>
                        <group>
                            <field name="code"/>
                            <field name="uom_id"/>
                        </group>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="action_job_code" model="ir.actions.act_window">
            <field name="name">Job Code</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">job.code</field>
            <field name="view_mode">tree,form</field>
        </record>




        <menuitem id="menu_digital_vessel" name="Digital Vessel" sequence="200"/>
            <menuitem id="menu_config" name="Config" parent="menu_digital_vessel" sequence="10"/>
                <menuitem 
                    id="menu_vessel"
                    name="Vessel" 
                    parent="menu_config" 
                    action="action_vessel_vessel" 
                    sequence="11"/>

                <menuitem 
                    id="menu_scope"
                    name="Scope" 
                    parent="menu_config" 
                    action="action_scope_scope" 
                    sequence="12"/>

                <menuitem 
                    id="menu_working_area"
                    name="Working Area" 
                    parent="menu_config" 
                    action="action_working_area" 
                    sequence="13"/>

                <menuitem 
                    id="menu_technician"
                    name="Technician" 
                    parent="menu_config" 
                    action="action_technician_technician" 
                    sequence="14"/>

                <menuitem 
                    id="menu_customer"
                    name="Customer" 
                    parent="menu_config" 
                    action="action_customer_customer" 
                    sequence="15"/>

                <menuitem 
                    id="menu_component"
                    name="Component" 
                    parent="menu_config" 
                    action="action_component_component" 
                    sequence="15"/>

                <menuitem 
                    id="menu_location"
                    name="Location" 
                    parent="menu_config" 
                    action="action_location_location" 
                    sequence="16"/>

                <menuitem 
                    id="menu_job_code"
                    name="Job Code" 
                    parent="menu_config" 
                    action="action_job_code" 
                    sequence="17"/>

    </data>
</odoo>